<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongxm.photo.mapper.ImageGroupInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.gongxm.photo.pojo.ImageGroupInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="cover" property="cover" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime"
			jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, cover, title, url, update_time, status
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.gongxm.photo.pojo.ImageGroupInfoExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from image_group_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>


	<select id="findUnCollectImageGroup" resultMap="BaseResultMap">
		select
		id, cover, title, url
		from image_group_info
		where status = 0
		LIMIT
		#{offset},#{pageSize};
	</select>

	<select id="findPageList" resultMap="BaseResultMap">
		select
		id, cover, title, url
		from image_group_info
		order by update_time desc
		LIMIT
		#{offset},#{pageSize};
	</select>


	<select id="findImageGroupByTag" resultMap="BaseResultMap">
		SELECT
		igi.id,igi.cover,igi.title FROM image_group_info igi WHERE id IN
		(SELECT icr.image_group_id FROM image_category_relation icr WHERE
		category_id IN (SELECT c.id FROM category c WHERE c.tag=#{tag}))
		LIMIT
		#{offset},#{pageSize};
	</select>

	<select id="findSearchList" resultMap="BaseResultMap">
		select
		id, cover, title,
		url
		from image_group_info
		where title like "%${keyword}%"
		order by
		update_time desc
		LIMIT #{offset},#{pageSize};
	</select>

	<select id="findLastRecommend" resultMap="BaseResultMap">
		select
		id, cover, title,
		url
		from image_group_info
		order by rand()
		LIMIT 12;
	</select>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from image_group_info
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from image_group_info
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.gongxm.photo.pojo.ImageGroupInfoExample">
		delete from image_group_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.gongxm.photo.pojo.ImageGroupInfo"
		useGeneratedKeys="true" keyProperty="id">
		insert into image_group_info (id, cover, title,
		url, update_time, status
		)
		values (#{id,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.gongxm.photo.pojo.ImageGroupInfo"
		useGeneratedKeys="true" keyProperty="id">
		insert into image_group_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="cover != null">
				cover,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="cover != null">
				#{cover,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.gongxm.photo.pojo.ImageGroupInfoExample"
		resultType="java.lang.Integer">
		select count(*) from image_group_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update image_group_info
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.cover != null">
				cover = #{record.cover,jdbcType=VARCHAR},
			</if>
			<if test="record.title != null">
				title = #{record.title,jdbcType=VARCHAR},
			</if>
			<if test="record.url != null">
				url = #{record.url,jdbcType=VARCHAR},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update image_group_info
		set id = #{record.id,jdbcType=VARCHAR},
		cover = #{record.cover,jdbcType=VARCHAR},
		title = #{record.title,jdbcType=VARCHAR},
		url = #{record.url,jdbcType=VARCHAR},
		update_time = #{record.updateTime,jdbcType=TIMESTAMP},
		status = #{record.status,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.gongxm.photo.pojo.ImageGroupInfo">
		update image_group_info
		<set>
			<if test="cover != null">
				cover = #{cover,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.gongxm.photo.pojo.ImageGroupInfo">
		update image_group_info
		set cover = #{cover,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		url = #{url,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=INTEGER}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>